# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore all tf state files
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup